[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"

[packages]
pandas = "*"
click = "*"
scikit-learn = "*"
requests = "*"
alphabet-detector = "==0.0.7"
jellyfish = "*"
langdetect = "==1.0.8"
nltk = "==3.5"
numpy = "==1.18.3"
pycountry-convert = "==0.7.2"
pycountry = "==19.8.18"
scipy = "==1.4.1"
text-unidecode = "*"
tqdm = "==4.45.0"
xgboost = "==1.0.2"
Shapely = "*"
Rtree = "*"
pyproj = "*"

[requires]
python_version = "3.8"
